.message {
    margin-bottom: 40px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 55px;
}

.text {
    background-color: #0066cc;
    border-radius: 10px 10px 0 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 10px;
    position: relative;
    margin-right: 17px;
}

.text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top right, transparent 55%, #0066cc 50%) no-repeat right bottom;

}

.text:after {

}

.name {
    font-weight: bold;
}

.messageText {
}

.time {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 90%;
    margin-right: 7px;
}