.friendMessage {
    margin-bottom: 40px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 55px;
}

.friendText {
    background-color: #f5f7fb;
    border-radius: 10px 10px 10px 0;
    color: black;
    padding: 10px;
    position: relative;
    margin-left: 17px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top left, transparent 55%, #f5f7fb 50%) no-repeat right bottom;

}

.friendName {
    font-weight: bold;
}

.friendMessageText {

}

.friendTime {
    font-weight: bold;
    font-size: 90%;
    margin-left: 7px;
}
