.friendMessage {
    margin-bottom: 40px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 55px;
}

.friendText {
    background-color: #f5f7fb;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.friendText:after {

}

.friendName {
    font-weight: bold;
}

.friendMessageText {

}

.friendTime {

}
