.button {
}

.disabled {
    background-color: darkgray;
}


.secondary {
    background-color: #0059b3;
    color: white;
}

.default {
    background-color: #212A34;
    color: white;
}


.red {
    background-color: red;
    color: white;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
